.foot-colour {
    background-color: #2d333b;
}

.head-colour {
    background-color: #2d333b;
}

.searchForm {
    width: 100px;
}

.page-link {
    cursor: pointer;

}

.github-mainpage-icon {
    font-size: 200%;
}

.gitHutText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footerLogo {
    font-size: larger;
}

.folderIcon {
    font-size: larger;
}