.foot-colour{
    background-color: #2d333b;
}

.head-colour {
    background-color: #2d333b;
}

.searchForm {
    width: 100px;
}

.github-mainpage-icon {
    font-size: xx-large;
}

.footerLogo {
    font-size: larger;
}
